/*
try this: #625d52
text: white
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color:#202023;
    color: #e1e1e1;
}
.header {
    display: flex;
    height: 15px;
    padding: 15px;
    justify-content: center;
    gap: 600px;
    background-color: #202023;
    align-items: center;
}
.header .title a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background-color: #202023;
    color: #e1e1e1;
}
.headerlist {
    display: flex;
    gap: 16px;
    padding: 0;
    list-style-type: none;
    margin: 0;
    background-color: #202023;
    font-weight: bold;
}
.headlink{
    background-color: #202023;
    text-decoration: none;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstImg {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 50px;
}
.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 650px;
}
.image2 {
    position: absolute;
    top: 235px;
    left: 225px;
    border-radius: 50%; 
    width: 200px;
}
.firstName{
    display: flex;
    margin: 15px;
    margin-top: 25px;
    align-items: center;
    flex-direction: column;
}
.first ul, .second ul {
    list-style-type: none;
}
.second {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 750px;
    flex-direction: column;
}
.keyboardfeature{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.keyboardfeature img{
    border: 2px solid transparent;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}
.keyboardfeature img:hover{
    border: 2px solid #e1e1e1;
}
.youtubefeat {
    display: flex;
    padding: 15px;
    justify-content: center;
}
.footer {
    display: flex;
    color: darkslategray;
    padding: 5px 0;
    text-align: center;
    justify-content: center;
}
/* About page */
.aboutFirst{
    display: flex;
    padding: 15px;
}