/* Colors are:
Blue: #A0C3D2
Blush Pink: #EAC7C7
Off-white/cream: #F7F5EB
Lighter Pink: #EAE0DA
*/
* {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F5EB;
}
.header {
    display: flex;
    height: 15px;
    padding: 15px;
    justify-content: center;
    gap: 600px;
    background-color: #A0C3D2;
    align-items: center;
}
.header .title a{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    background-color: #A0C3D2;
    color: black;
}
.headerlist {
    display: flex;
    gap: 16px;
    padding: 0;
    list-style-type: none;
    margin: 0;
    background-color: #A0C3D2;
    font-weight: bold;
}
.headlink{
    color: black;
    background-color: #A0C3D2;
    text-decoration: none;
}
.first{
    display: flex;
    margin: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first ul, .second ul {
    list-style-type: none;
}
.first img {
    flex-shrink: 0;
    width: 750px;
}
.second {
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: #EAE0DA;
    gap: 40px;
    flex-wrap: wrap;
}
.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 750px;
    flex-direction: column;
}
.keyboardfeature{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #EAE0DA;
}
.keyboardfeature img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.keyboardfeature div, .keyboardfeature a{
    font-weight: bold;
    background-color: #EAE0DA;
}
.youtubefeat {
    display: flex;
    padding: 15px;
    justify-content: center;
}
.footer {
    background-color: #EAC7C7;
    display: flex;
    padding: 5px 0;
    text-align: center;
    justify-content: center;
}
/* About page */
.aboutFirst{
    display: flex;
    padding: 15px;
}