/*
background color: #625d52
text: #e1e1e1
general width is 650px;
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', monospace;
    margin: 0;
    padding: 0;
    background-color:#202023;
    color: #e1e1e1;
}
.horizDivide{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.largeText{
    font-family: 'Space Mono'; 
    font-size: 25px;
}


/*Landing page*/
.header {
    display: flex;
    height: 15px;
    padding: 15px;
    justify-content: space-between;
    background-color: #202023;
    align-items: center;
}
.header .title a{
    font-family: 'Space Mono';
    font-size: 20px;
    text-decoration: none;
    background-color: #202023;
    color: #e1e1e1;
}
.title {
    flex-shrink: 0;
}
.headerlist {
    display: flex;
    gap: 16px;
    padding: 0;
    list-style-type: none;
    margin: 0;
    background-color: #202023;
}
.headlink{
    background-color: #202023;
    font-family: 'Space Mono';
    text-decoration: none;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstImg {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 50px;
}
.image1 {
    position: relative;
    top: 0;
    border-radius: 7px;
    left: 0;
    width: 650px;
}
.image2 {
    position: absolute;
    top: 235px;
    left: 225px;
    border-radius: 50%; 
    width: 200px;
}
.firstName{
    display: flex;
    margin: 15px;
    margin-top: 25px;
    align-items: center;
    flex-direction: column;
}
.first ul, .second ul {
    list-style-type: none;
}
.second {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 750px;
    flex-direction: column;
}
.indexFeat{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.indexFeat img{
    border: 2px solid transparent;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.indexFeat img:hover{
    border: 2px solid #e1e1e1;
}
.youtubefeat {
    display: flex;
    padding: 15px;
    justify-content: center;
}
.footer {
    display: flex;
    color: darkslategray;
    padding: 5px 0;
    text-align: center;
    justify-content: center;
}


/* About page */
.aboutHeader{
    display: flex;
    justify-content: center;
    font-family: 'Space Mono';
    font-size: 35px;
}
.aboutFirst{
    display: flex;
    padding: 15px;
    width: 525px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    align-items: center;
}
.aboutFirst img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 45%;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
}
.aboutFirstText{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutSecond {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Works page */
.worksFirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.worksFeat{
   display: inline-block; 
   position: relative;
   text-align: center;
}
.worksFeat img{
    vertical-align: bottom;
    width: 250px;
    height: 250px;
    object-fit: cover; 
    border-radius: 15px;
    margin-bottom: 7px;
}
.worksDescLayer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #202023;
    color: #e1e1e1;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}
.worksFeat:hover .worksDescLayer{
    visibility: visible;
    opacity: .9;
}
.worksDesc{
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
    margin: 15px;
    font-size: 15px;
}
.worksFeat:hover .worksDesc{
    transform: translateY(-.5em);
}
/* Keyboard page */
.keyboardFirst{
    display: flex;
    width: 750px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.keybFeat{
   display: inline-block; 
   position: relative;
}
.keybFeat img{
    vertical-align: bottom;
    width: 300px;
    height: 200px;
    object-fit: cover; 
    border-radius: 5px;
}
.keybDescLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #202023;
    color: #e1e1e1;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}
.keybFeat:hover .keybDescLayer {
    visibility: visible;
    opacity: .9;
}
.keybDesc {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
}
.keybFeat:hover .keybDesc {
    transform: translateY(0);
}

/*Resume page*/
.resumeFirst {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
}
.resumeAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.resumeCont{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 10px;
}
.resumeCont div {
    min-width: 125px;
    max-width: 125px;
    margin-right: 25px;
}
/* Article pages*/
.articleFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.articleCoverImg {
    width: 650px;
    object-fit: cover;
    margin: 15px;
}
.articleSecond {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 15px;
}
.articleTOC li{
    font-size: 20px;
    margin: 1px;
}
.articleContent {
    width: 650px;
    margin: 5px;
}
